<a href="https://colab.research.google.com/github/Akshay069/Mobile-Price-Range-Prediction/blob/main/Mobile_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Problem Statement**

---
---


In the competitive mobile phone market companies want
to understand sales data of mobile phones and factors which drive the prices.
The objective is to find out some relation between features of a mobile phone(eg:- RAM,
Internal Memory, etc) and its selling price. In this problem, we do not have to predict the
actual price but a price range indicating how high the price is.

###**Data Overview**

---
Fisrt things first!\
Data is nothing but a information so,
I will first load data using Pandas DataFrame and take a tour of our data on the basis of which we will take decisions further.

In [2]:
# Importing important liabraries required futher in the process.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Importing google drive access to read the csv file in the colaboratory.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Reading data using pandas Dataframe.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/AlmaBetter/Machine Learning/Supervised Learning/classification Project /Copy of data_mobile_price_range.csv')

In [5]:
# Take a look at fisrt five observations.
df.head(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [6]:
# Let see the size of this dataset.
print('- Number of row =',df.shape[0])
print('- Number of column =',df.shape[1])

- Number of row = 2000
- Number of column = 21

In [7]:
# Lets see what are different variables and their description.
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

###Below mention is the description about each variable in this dataset.






>**Battery_power** - Total energy a battery can store in one time measured in mAh. \
**Blue** - Has bluetooth or not. \
**Clock_speed** - speed at which microprocessor executes instructions. \
**Dual_sim** - Has dual sim support or not. \
**Fc** - Front Camera mega pixels. \
**Four_g** - Has 4G or not. \
**Int_memory** - Internal Memory in Gigabytes. \
**M_dep** - Mobile Depth in cm. \
**Mobile_wt** - Weight of mobile phone. \
**N_cores** - Number of cores of processor. \
**Pc** - Primary Camera mega pixels. \
**Px_height** - Pixel Resolution Height. \
**Px_width** - Pixel Resolution Width. \
**Ram** - Random Access Memory in Mega Bytes. \
**Sc_h** - Screen Height of mobile in cm. \
**Sc_w** - Screen Width of mobile in cm. \
**Talk_time** - longest time that a single battery charge will last when you are. \
**Three_g** - Has 3G or not. \
**Touch_screen** - Has touch screen or not. \
**Wifi** - Has wifi or not. \
**Price_range** - This is the target variable with value of 0(low cost), 1(medium cost),
2(high cost) and 3(very high cost).

* As the problem statement suggests that we need to predict the price range instead of the actual price of the mobile phone which turn it down to the classification problem and as the label (Price_range) is divided into four ranges 0(for low price range), 1(for median price range), 2(for high price range) and 3(for extreamly high price range).

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

* It is clear from above summary that there is no null value present in our dataset which makes easier for us that we don't have to worry about the null values treatment. \
* Still, will look for other things before moving towards the model implplentation such as duplicate rows, outliers detection and relationship of variables and distribution of the data and finally the imbalance of the output variable.

In [9]:
# Lets see if there any duplicate present in out dataset.
df.duplicated().sum()

0

* Thats great! there is no duplicates present in our data.

In [10]:
# Lets see the descriptive summary.
df.describe(include='all')

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

* From the above observation, the Minimum value of px_height and sc_w is zero which is not fair. it has to be rectified and will fill these with average value

In [11]:
# First will see how many such observations are there with zero minimum value.
print('Total phones with sc_w value as zero is',len(df[df['sc_w'] == 0]))

print('Total phones with px_height value as zero is',len(df[df['px_height'] == 0]))

Total phones with sc_w value as zero is 180
Total phones with px_height value as zero is 2

In [12]:
# Before moving forward lets first make a copy of our dataset so that we can do changes on it.
df_copy = df.copy()
# Lets fill these values.
df_copy['sc_w'].replace(0,df_copy['sc_w'].mean(axis=0), inplace=True)
df_copy['px_height'].replace(0,df['px_width'].mean(axis=0), inplace=True)

In [13]:
# Lets check the changes.
print('Total phones with sc_w value as zero is',len(df_copy[df_copy['sc_w'] == 0]))

print('Total phones with px_height value as zero is',len(df_copy[df_copy['px_height'] == 0]))

Total phones with sc_w value as zero is 0
Total phones with px_height value as zero is 0

* Great! Now everything seems okay with it as we have successfully replaced zero with mean values.

Some other observations from the above part.

* Well i was confused with the variable name **Talk_time** - longest time that a single battery charge will last when you are. \

* the description about this is bit confusing and the name of the variable is also not apprrpriate in my perspective so, i'm going change it sure with relatable one. \

* but before that I have cleared from descriptive table that the meaning of this information is nothing but the 'How long the mobile battery(charging) last after it gets fully charged' so, will rename it from **'Talk_time'** to **'charge_time'**

In [17]:
# As discussed above lets rename column name.
df.rename(columns = {'talk_time' : 'charge_time'}, inplace=True)
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'charge_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')